@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegúrate de que el HTML, el body y el contenedor raíz ocupen toda la pantalla */
html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Fondo rojo para toda la pantalla */
}

body {
  font-family: 'Arial', sans-serif; /* Fuente por defecto */
}

/* Asegura que el contenedor principal siempre esté centrado */
#root > div {
  width: 100%;
  max-width: 1200px; /* Ajuste opcional para pantallas grandes */
  padding: 0.5rem; /* Espacio alrededor para evitar que los bordes de la pantalla lo toquen */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3498db;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
