@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Arial', sans-serif; /* Fuente por defecto */
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3498db;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

/* Estilos generales para el header en dispositivos móviles */
header {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f87171; /* color rojo */
}

/* Media Query para pantallas más grandes que dispositivos móviles */
@media (min-width: 768px) {
  header {
    width: 60%; /* Ajusta el ancho del header en pantallas grandes */
    padding: 0.5rem; /* Reduce el padding para pantallas más grandes */
    margin: 0 auto; /* Centra el header horizontalmente */
    flex-direction: row; /* Cambia a fila en pantallas grandes */
    justify-content: space-between; /* Espacia los elementos en los extremos */
  }

  /* Estilos para el contenedor del SearchBar */
  .searchbar-container {
    width: 50%; /* Limita el ancho del SearchBar a la mitad del header */
    max-width: 400px; /* Opcional: máximo ancho */
  }

  /* Estilos para el botón de favoritos */
  .favorites-button {
    width: auto; /* Permite que el botón tenga un ancho automático */
    max-width: 150px; /* Limita el ancho máximo del botón */
  }
}
